/*Background: #F2F1E8
--Text: #131511
--Inline Link: #968772
--Inline Link (Hover): #967343
--Navigation Background: #FFFFFF
--Navigation Text: #2B2F26
--Navigation Text (Hover): #CD5D67
--Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/

/*font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;*/


/*all*/
* {
  box-sizing: border-box;
}

/*all links*/
a {
  color: #968772;
}

a:hover {
  color: #967343;
}

body {
  background-color: #F2F1E8;
}

/*logo at top*/

.logo {
  background-image: url("images/bent-creek-logo.png");
  background-size: cover;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

/*out of logo, into top nav bar*/

/*nav bar bg*/

nav {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;

}

/*nav bar links*/

nav a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #2B2F26;
  text-transform: uppercase;
  padding-top: 22px;
  margin-left: 33px;
  margin-right: 33px;
}

nav a:hover {
  color: #CD5D67;
}

nav a:active {
  color: #968772;
}

.active {
  color: #968772;
}

/*out of nav, into header*/

header {
  font-family: 'Merriweather', serif;
  text-align: center;
  width: 100%;
}

/* into header text--Bent Creek Ceramics*/

header h1 {
  color: #131511;
  font-size: 75px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 45px;
}

/*Header subtext--Where art meets nature*/

header h2 {
  color: #131511;
  font-size: 40px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 55px;
}

/*out of header and header text, into section*/

.flex-container {
  display: flex;
  /*justify-content: center;*/
  flex-wrap: wrap;
  padding: 15px;
}

/*still in body, but now into each of the flex items*/

.possibilities {
  height: 368px;
  width: 48%;
  flex-grow: 3;
  background-image: url("images/product-1.jpg");
  background-size: cover;
  background-position: center;
  margin: 8px;
  padding-top: 300px;
}

.sets {
  height: 368px;
  width: 16%;
  flex-grow: 1;
  background-image: url("images/product-2.jpg");
  background-size: cover;
  background-position: center;
  margin: 8px;
  padding-top: 300px;
}

.textures {
  height: 368px;
  width: 16%;
  flex-grow: 1;
  background-image: url("images/product-3.jpg");
  background-size: cover;
  background-position: center;
  margin: 8px;
}

.tea {
  height: 245px;
  width: 16%;
  flex-grow: 1;
  background-image: url("images/product-4.jpg");
  background-size: cover;
  background-position: center;
  margin: 8px;
}

.jars {
  height: 245px;
  width: 16%;
  flex-grow: 1;
  background-image: url("images/product-5.jpg");
  background-size: cover;
  background-position: center;
  margin: 8px;
}

.wasabi {
  height: 245px;
  width: 32%;
  flex-grow: 2;
  background-image: url("images/product-6.jpg");
  background-size: cover;
  background-position: center;
  margin: 8px;
}

.sunshine {
  height: 245px;
  width: 16%;
  flex-grow: 1;
  background-image: url("images/product-7.jpg");
  background-size: cover;
  background-position: center;
  margin: 8px;
}

/*still in flex items but now into the text in the flex items*/

.possibilities-text {
  display: inline-block;
  background-color: #2B2F26;
  color: #F2F1E8;
}

.sets-text {
  display: inline-block;
  background-color: #2B2F26;
  color: #F2F1E8;
}

.textures-text {
  display: inline-block;
  background-color: #2B2F26;
  color: #F2F1E8;
}

.tea-text {
  display: inline-block;
  background-color: #2B2F26;
  color: #F2F1E8;
}

.jars-text {
  display: inline-block;
  background-color: #2B2F26;
  color: #F2F1E8;
}

.wasabi-text {
  display: inline-block;
  background-color: #2B2F26;
  color: #F2F1E8;
}

.sunshine-text {
  display: inline-block;
  background-color: #2B2F26;
  color: #F2F1E8;
}
